@import url('https://fonts.googleapis.com/css?family=Concert+One|Fjalla+One|Fredoka+One|Lora|Signika:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* non class changes */
h1 {
  color: white;
}

img {
  width:100%;



}

*{
  margin: 0;
  padding: 0;
}
/* non class changes */




/* start of navigation bar design */


nav.main-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid black;
  background-color: black;

  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.9s;
}


.main-nav ul{
list-style-type: inherit;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
grid-gap: 20px;
}

.main-nav ul li {
  float: left;

  }


.main-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  height: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

nav li a:hover:not(.active) {
  color: #FFFF66;
}

 nav li a {
  font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 13px;
}

/* end of navigation bar design */
/* start of logo */
.hornet-img {
  width: 3%;
  float: left;



}


/* end of logo */
/* start of white space */
main{
  margin-top: 70px;
}
body{
  background-color: 	#F0F0F0;
}
/* end of white */
/* start of font */
.hot15 {
font-family: 'Fredoka One', cursive;
  color: black;
  text-transform: full-width;
  font-size: 30px;
}
.fredoka {
font-family: 'Fjalla One', sans-serif;

}
.about {
  font-family: 'Fjalla One', sans-serif;
  font-size: 80px;

}
.name {
  float: left;
font-family: 'Concert One', cursive;
color: #F5F5F5;
}
.week {
  font-size: 20px;
}
.list {
  font-size: 17px;
font-family: 'Signika', sans-serif;
}
.lora {
  font-family: 'Lora', serif;
  list-style: none;
}
.lora2 {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  font-size: 18px;
}
/* end of font */
/* start of images */

.artists-img{
  width: 100px;

}
.genius {
  width: 30px;

}
.instagram {
  width: 30px;
  border: 1px solid white;
}
.heights {
  width: 300px;
  position: relative;
  top: -100px;
  text-align: left;
  left: 150px;
  border: 20px solid #801717;
padding: 0px;

}
.bee{
  width: 300px;
  position: relative;
  top: -150px;
  text-align: left;
  left: 300px;
  border: 20px solid #801717;
  padding: 0px;
}
.music{
  width: 300px;
  top: -10px;
  position: relative;
  text-align: left;
  left: 450px;
  border: 20px solid #801717;
  padding: 0px;
}
}
}
/* end of images */
/* start of designing main */
.homebody{

  margin-left: 0;
  text-align: center;
  width: 100vw;
  height:100vh;
  display: grid;
   grid-template-rows: auto 1fr auto;
   grid-template-columns: 100%;

}

main ol.custom {
  list-style-type: none;

}

main ol.custom > li {
  counter-increment: customlistcounter;
}

main ol.custom > li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
   float: left;
  width: 3em;
}

main ol.custom:first-child {
  counter-reset: customlistcounter;
}

.custom li {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 900px;
height: 100px;
margin: auto;
outline: 1px grey solid;


}
a{
  text-decoration: none;
}

.custom li {
  margin-bottom: 1px;
  padding: 20px;
}

.custom li> *:not(img) {
  margin-right: 10px;
}

.custom li img{
  order: 2;
  margin-left: auto;
}
.footer {
  background:	#000000	 ;

}
/* end of designing main */
/*start grid */
.custom{
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-row-gap: 20px;
}
.contactgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  .div1 { grid-area: 1 / 1 / 2 / 2; }


.votegrid {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-decoration: none;
  }

  h1{
    color: black;
    grid-column-start: span 2;
    align-self: center;
  }


.aboutgrid {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 15px;
  }
  .votenow {
    color: black;
    display: grid;
    grid-auto-rows: 2;


  }
  .aboutpage {
    color: black;
  }
  /* end of grid */
  .about1 {
    text-align: left;
    padding-left: 120px;
  }
  .about2 {
    text-align: left;
    padding-left: 95px;
  }
  .about3 {
    text-align: left;
    padding-left: 100px;

  }
