h1 {
  color: white;
}

img {
  width:100%
}

body{
  margin: 0;
  padding: 0;
}

/* start of navigation bar design */


nav.main-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid black;
  background-color: black;

  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.9s;
}

.main-nav ul{
list-style-type: inherit;
}

.main-nav ul li {
  float: left;
}

.main-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  height: 1px;
}

li a:hover:not(.active) {
  background-color: #ddd;
}


/* end of navigation bar design */
/* start of logo */
.hornet-img {
  width: 3%;
  float: left;



}

.name {
  float: left;
font-family: 'Concert One', cursive;
color: #F5F5F5;
/* end of logo */
/* start of white space */
main{
  margin-top: 70px;
}
/* end of white */
/* start of font */
.main-nav{
font-family: 'Varela Round', sans-serif;

}
